/* powered-by component styles */

@scope (.i3-powered-by) {
    :scope {
        --uconn-blue: #000e2f;
        --i3-blue: #ffffff;
        --corner: 10px;
        --thickness: 2px;
        --gap: 6px;

        background-color: var(--uconn-blue);
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
        padding:1em;
    }
    svg {
        width: 38px;
        height: 38px;
    }
    a {
        font-family: Rockwell, 'Courier New', Courier, monospace;
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.25rem;
        display: inline-block;
        padding: 9px 12px;
        border-radius: 0;
        outline: var(--thickness) solid #4db3ff;
        outline-offset: calc(-1 * var(--gap));
        -webkit-mask: conic-gradient(at var(--corner) var(--corner), #0000 75%, #000 0) 0 0 / calc(100% - var(--corner)) calc(100% - var(--corner)), linear-gradient(#000 0 0) content-box;
        mask: conic-gradient(at var(--corner) var(--corner), #0000 75%, #000 0) 0 0 / calc(100% - var(--corner)) calc(100% - var(--corner)), linear-gradient(#000 0 0) content-box;
        transition: outline-offset 0.2s ease;
    }

    a:hover {
        outline-offset: calc(-1 * var(--thickness));
        text-decoration: none;
    }

    div {
        color: #e3e3e3;
        font-size: 0.875rem;
        line-height: 1.4;
        text-align: left;
    }
}